version: 2.1

orbs:
  macos: circleci/macos@2.4.1

jobs:
  build:
    macos:
      xcode: 16.4.0
    resource_class: m4pro.medium

    steps:
      # Commands will execute in macOS container
      # with Xcode 16.4.0 installed
      - run: xcodebuild -version
      
