version: 2.1

jobs:
  build:
    macos:
      xcode: "15.0"

    steps:
      - checkout

      - run:
          name: Run CI script
          command: ./scripts/ci.sh

workflows:
  build_and_test:
    jobs:
      - build
